# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
.*.sw?
.????*.txt
.????*.json

# auto-gen files
bad*.conf
new*conf
bigfeed.txt
big*.conf
bin/*
w.txt
.?????*-[0-9a-f]*
allowed.txt
upd-all.sh
z
